# Lendo base de dados

In [1]:
import pandas as pd

df = pd.read_csv('../dataset/ml-100k/u.item', sep='|', header=None)
df.head()

,0,1,2,3,4,5,6,7,8,9,...,13,14,15,16,17,18,19,20,21,22
0,1,Toy Story (1995),01-Jan-1995,http://us.imdb.com/M/title-exact?Toy%20Story%2...,0,0,0,1,1,1,...,0,0,0,0,0,0,0,0,0,0.0
1,2,GoldenEye (1995),01-Jan-1995,http://us.imdb.com/M/title-exact?GoldenEye%20(...,0,1,1,0,0,0,...,0,0,0,0,0,0,0,1,0,0.0
2,3,Four Rooms (1995),01-Jan-1995,http://us.imdb.com/M/title-exact?Four%20Rooms%...,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0.0
3,4,Get Shorty (1995),01-Jan-1995,http://us.imdb.com/M/title-exact?Get%20Shorty%...,0,1,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0.0
4,5,Copycat (1995),01-Jan-1995,http://us.imdb.com/M/title-exact?Copycat%20(1995),0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0.0

## Criando metadados de itens

In [2]:
df_gen = df.iloc[:,4:]

metadata = []
for row in df_gen.iterrows():
    for g, gen in enumerate(row[1]):
        item = df[0][row[0]]
        if gen != 0:
            metadata.append((item, g))
    

gen_df = pd.DataFrame(metadata)

gen_df.to_csv('../dataset/ml-100k/item_metadata.dat', header=None, sep='\t', index=False)

## Lendo arquivo de interações e substituindo id por nome do filme

In [3]:
df_rating = pd.read_csv('../dataset/ml-100k/u.data', sep='\t', header=None)
df_rating[1] = df_rating[1].map(df.set_index(0)[1])
df_rating[df_rating[0] == 1]

       0                                                  1  2          3
202    1                         Three Colors: White (1994)  4  878542420
305    1                            Grand Day Out, A (1992)  3  888732928
333    1                                   Desperado (1995)  4  878542699
334    1                         Glengarry Glen Ross (1992)  4  875072547
478    1                          Angels and Insects (1995)  4  887431883
639    1                               Groundhog Day (1993)  5  875072442
687    1                                Delicatessen (1991)  5  889751711
820    1                   Hunt for Red October, The (1990)  4  878542441
933    1                               Dirty Dancing (1987)  2  878542201
972    1                                   Rock, The (1996)  3  874965739
1167   1                                     Ed Wood (1994)  4  875072125
1299   1                    Star Trek: First Contact (1996)  4  878873388
1382   1                            Pillow Book, The (1995)  5  874965970
1440   1  Horseman on the Roof, The (Hussard sur le toit...  5  878542738
1617   1      Star Trek VI: The Undiscovered Country (1991)  4  876892946
1780   1                         From Dusk Till Dawn (1996)  3  875073198
1989   1                So I Married an Axe Murderer (1993)  4  878542300
2328   1                   Shawshank Redemption, The (1994)  5  875072404
3049   1                                True Romance (1993)  3  876892425
3059   1                Star Trek: The Wrath of Khan (1982)  5  878543541
3171   1                          Kull the Conqueror (1997)  1  885345728
3191   1                      Independence Day (ID4) (1996)  4  875071823
3234   1  Wallace & Gromit: The Best of Aardman Animatio...  5  875072173
3246   1                           Wizard of Oz, The (1939)  4  878542889
3248   1                Faster Pussycat! Kill! Kill! (1965)  1  889751736
3260   1                                Citizen Kane (1941)  4  875073067
3358   1                   Silence of the Lambs, The (1991)  4  875072404
3377   1                         Blues Brothers, The (1980)  4  875073128
3431   1                          Breaking the Waves (1996)  5  887431921
3710   1     Robert A. Heinlein's The Puppet Masters (1994)  4  875072923
...   ..                                                ... ..        ...
74577  1                            Jean de Florette (1986)  5  874965518
74847  1                           Cold Comfort Farm (1995)  3  878542960
75385  1                    Nikita (La Femme Nikita) (1990)  5  878542717
77073  1                                   Lone Star (1996)  5  875071484
77238  1                                     Aladdin (1992)  4  875072303
77630  1                       Bram Stoker's Dracula (1992)  3  876892676
78171  1                                   Quiz Show (1994)  4  878542960
78695  1                    Bedknobs and Broomsticks (1971)  2  878543238
78817  1                     When Harry Met Sally... (1989)  5  876892701
81463  1                         Spitfire Grill, The (1996)  2  875071713
81568  1                      Much Ado About Nothing (1993)  3  875072370
82444  1                              Batman Returns (1992)  1  876893031
82786  1                          Back to the Future (1985)  5  875072688
83307  1                                  Four Rooms (1995)  4  878542960
84793  1                          Cyrano de Bergerac (1990)  5  875073067
85377  1                      Smilla's Sense of Snow (1997)  2  887431973
85557  1                              Antonia's Line (1995)  5  875071515
86585  1                              Batman Forever (1995)  1  878542869
87831  1                          White Balloon, The (1995)  4  887432020
87967  1                           Three Colors: Red (1994)  5  876892817
88021  1                          Mr. Holland's Opus (1995)  5  875071608
88259  1                Truth About Cats & Dogs, The (1996)  5  889751711
88262  1                 Madness of King George, The (1994)  4  875072205
88893  1                        Sleepless in Seattle (1993)  4  878542791
89876  1                            Mighty Aphrodite (1995)  5  875071805
92049  1                                   Apollo 13 (1995)  4  875072173
92487  1                    Empire Strikes Back, The (1980)  5  874965478
94019  1                              Cable Guy, The (1996)  3  875241498
96699  1                                     Sleeper (1973)  5  878542589
99073  1                                  Home Alone (1990)  2  875072956

[272 rows x 4 columns]

## Gerando Recomendações

In [4]:
# rank = '/home/fortesarthur/Documentos/dataset/ml-100k/my/folds/0/output.dat'

# df_rank = pd.read_csv(rank, sep='\t', header=None)
# print(df_rank[df_rank[0] == 1])
# # df_rank[1] = df[1][df[0]==df_rank[1]]

# df_rank[1] = df_rank[1].map(df.set_index(0)[1])
# df_rank[df_rank[0] == 1]